* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  grid-area: 1/1/2/6;
  background-color: salmon;
}

aside {
  grid-area: 2/1/6/2;
  background-color: blue;
}

main {
  grid-area: 2/2/6/6;
  background-color: red;
  width: 100%;
  border-radius: 15px;
  margin-left: 10px;
  background-color: #08c6ff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.sidebar {
  border-radius: 15px;
  padding: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
}
.admin-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.admin-list__btn {
  background-color: inherit;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
  color: white;
  cursor: pointer;
}

.site-header {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 5px;
  max-height: 47px;
  background-color: #08c6ff;
}

.admin-title {
  font-size: 15px;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2px;
}

.babge-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.babge-list__btn {
  padding: 5px 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  border: none;
}

.content {
  padding: 5px 5px;
}

.student-page {
  width: 100px;
  height: 200px;
  border: 1px solid salmon;
}

.teacher-page {
  width: 100px;
  height: 200px;
  background-color: green;
  display: none;
}

.managment-page {
  width: 100px;
  height: 200px;
  background-color: black;
  display: none;
}

.stats-page {
  width: 100px;
  height: 200px;
  background-color: red;
  display: none;
}

.content-btn {
  border-radius: 15px;
  background-color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  height: 89vh;
  padding: 0 0 15px;
}/*# sourceMappingURL=main.css.map */