.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2px;
}

.babge-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  &__btn {
    padding: 5px 35px;
    width: fit-content;
    border-radius: 5px;
    border: none;
  }
}

.content {
  padding: 5px 5px;
}

// .select {
//   width: 100%;
// }

.student-page {
  width: 100px;
  height: 200px;
  border: 1px solid salmon;
}

.teacher-page {
  width: 100px;
  height: 200px;
  background-color: green;
  display: none;
}

.managment-page {
  width: 100px;
  height: 200px;
  background-color: black;
  display: none;
}

.stats-page {
  width: 100px;
  height: 200px;
  background-color: red;
  display: none;
}

.content-btn {
  border-radius: 15px;
  background-color: white;
}
